<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.sureassert.uc.runtime.coverage" name="saucRuntimeCoverage" schema="resources/com.sureassert.uc.runtime.coverage.exsd"/>
   <extension-point id="com.sureassert.uc.runtime.ucReexecutor" name="saucReexecutor" schema="resources/com.sureassert.uc.runtime.ucReexecutor.exsd"/>

</plugin>
